
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
	<li>@Html.ActionLink("Batch Update", "productlist", "MV")</li>
	<li>@Html.ActionLink("MyForm", "myform", "MV")</li>
</ul>

<h3>@ViewData["Temp1"]</h3>

<hr />

@{ 
	var b = ViewData["Temp2"] as MVC5Course.Models.ViewModels.ClientLoginViewModel;
}

@b.FirstName @b.LastName

<hr />

@ViewBag.Temp2.FirstName @ViewBag.Temp2.LastName

<hr />

@ViewBag.Temp3.FirstName